<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cao19BIT0292">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Binary Calculator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAO">
        <activity android:name=".Contackus"
            android:label="CONTACT US"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".divisionbi"
            android:label="Result(19BIT0292)"
            android:parentActivityName=".bd_i" />
        <activity
            android:name=".bd_in"
            android:label="Input(19BIT0292)"
            android:parentActivityName=".bd_i" />
        <activity
            android:name=".bd_i"
            android:label="Input type(19BIT0292)"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BOOTH"
            android:label="Input(19BIT0292)"
            android:parentActivityName=".bot_dec" />
        <activity
            android:name=".bot_dec"
            android:label="Input type(19BIT0292)"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BOOTH_MULTIPLICATION"
            android:label="Result(19BIT0292)"
            android:parentActivityName=".bot_dec" />
        <activity
            android:name=".Second"
            android:label="INTPUT TYPE(19BIT0292)"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ares"
            android:label="Multiply Result(19BIT0292)"
            android:parentActivityName=".Second" />
        <activity
            android:name=".add"
            android:label="Input(19BIT0292)"
            android:parentActivityName=".Second" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>